<div class="input-container mat-elevation-z8" style="margin: 2vh;">
        <h2 style="margin-right: 2vh;">Add Todo:</h2>
        <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field appearance="outline" class="inputfield" style="margin-right: 2vh;">
            <mat-label>Add Todo</mat-label>
            <input matInput formControlName="todo_task">
            <mat-hint>For example: Water plants</mat-hint>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" class="inputButton">ADD</button>
        </form>
  </div>
